@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: linear-gradient(
    to left,
    rgba(17, 145, 168, 0.3),
    rgba(57, 207, 182, 0.3)
  );
}

.container {
  min-height: 250px;
  min-width: 250px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  box-shadow: 2px 4px 6px 1px #d3d3d3;
  background-color: #fff;
}

.reg-heading {
  font-size: 25px;
  text-transform: uppercase;

  background: linear-gradient(
    to right,
    rgba(17, 145, 168, 1),
    rgba(57, 207, 182, 1)
  );

  color: #fff;

  width: 100%;
  text-align: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  padding: 20px 0px;
  margin-bottom: 20px;

  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

#registerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-section {
  min-height: 200px;

  display: flex;
  flex-direction: column;
}

.register-input {
  border-radius: 4px;
  outline: none !important;

  height: 35px;
  width: 80%;
  min-width: 100px;
  padding: 10px 15px;

  font-size: 15px;

  border: 1px solid #dce4ec;
  color: #2c3e50;

  font-family: "Fira Sans", sans-serif;
  font-weight: 400;

  border-width: 2px;
}

#registerBtn {
  width: 40%;
  min-width: 150px;

  cursor: pointer;
  background: linear-gradient(
    to left,
    rgba(17, 145, 168, 1),
    rgba(57, 207, 182, 1)
  );

  height: 40px;

  color: #fff;
  margin-bottom: 30px;
  padding: 4px 0px;

  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

.reg-redirect {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #2c3e50;

  margin-bottom: 20px;
}

.input-wrapper {
  /* background-color: pink; */

  font-family: "Fira Sans", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 20px 25px;
}

.input-wrapper small {
  /* background-color: aqua; */

  margin: 5px 10px;

  visibility: hidden;
  color: #e74c3c;
}

.success {
  border-color: #2ecc71;
}

.error {
  border-color: #e74c3c;
}

.error small {
  visibility: visible;
  border-color: #e74c3c;
}
